{% extends "layout.njk" %}

{% block head %}
    <title>Sobre - Gabriel Cordeiro</title>
{% endblock %}

{% block content %}
    <div id="wrapper">
        <img src="https://avatars0.githubusercontent.com/u/61247355?s=460&u=4" alt="Gabriel Cordeiro">
        <h1>Gabriel Cordeiro</h1>
        <h2>Desenvolvedor</h2>
        <p>Programador Full-Stack</p>
    </div>

    <div id="links-footer" class="links">
        <a href="https://github.com/gabriel-cordeiro-dev" target="_blank">Github</a>
        <a href="https://www.instagram.com/gabrielluuckner/" target="_blank">Instagram</a>
        <a href="https://www.linkedin.com/in/gabriel-cordeiro-033641144/" target="_blank">Linkedin</a>
    </div> 
{% endblock %}