{% extends "layout.html" %}

{% block head %}
<title>Certificações - Gabriel Cordeiro</title>
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
{% endblock %}

{% block content %}

    <div id="wrapper">
        <h1>Certificados</h1>
    </div>

    <section class="cards">

        <div class="card" id="0lLOYiHsCqM">
            <div class="card__image-container">
                <img src="" alt="">
            </div>
            <div class="card__content">
                <p>Certificado de Conclusão de Python 3</p>
            </div>
            <div class="card__info">
                <p>Tempo Levado: 12.5 horas</p>
                <p class="card__price">Custo: R$ 30,00</p>
            </div>
        </div>

        <div class="card" id="zs1lXFOAIWo">
            <div class="card__image-container">
                <img src="" alt="">
            </div>
            <div class="card__content">
                <p>Certificado de Conclusão de HTML5</p>
            </div>
            <div class="card__info">
                <p>Tempo Levado: 40 horas</p>
                <p class="card__price">Custo: R$ 30,00</p>
            </div>
        </div>

        <div class="card" id="VOH-aDfL4PQ">
            <div class="card__image-container">
                <img src="" alt="">
            </div>
            <div class="card__content">
                <p>Certificado de Conclusão de MySQL</p>
            </div>
            <div class="card__info">
                <p>Tempo Levado: 40 horas</p>
                <p class="card__price">Custo: R$ 30,00</p>
            </div>
        </div>

        <div class="card">
            <div class="card__image-container">
                <img src="" alt="">
            </div>
            <div class="card__content">
                <p>Em Andamento</p>
            </div>
            <div class="card__info">
                <p></p>
                <p class="card__price"></p>
            </div>
        </div>

        <div class="card">
            <div class="card__image-container">
                <img src="" alt="">
            </div>
            <div class="card__content">
                <p>Em Andamento</p>
            </div>
            <div class="card__info">
                <p></p>
                <p class="card__price"></p>
            </div>
        </div>

        <div class="card">
            <div class="card__image-container">
                <img src="" alt="">
            </div>
            <div class="card__content">
                <p>Em Andamento</p>
            </div>
            <div class="card__info">
                <p></p>
                <p class="card__price"></p>
            </div>
        </div>

    </section>
    
    <div class="modal-overlay">
        <div class="modal">
            <a class="close-modal">
                <i class="material-icons">close</i>
            </a>

            <div class="modal-content">
                <iframe src="" frameborder="0"></iframe>
            </div>
        </div>
    </div>

    <script src="/js.js"></script>
{% endblock %}